html {
    background-color: #fcfaf7;
    color: #1c1c1c;
    font-size: 62.5%;
}

.logo div {
    padding: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-container {
    margin-left: 64px;
}

header {
    background-color: #0e1649;
    height: 100px;
}

#website-article {
    margin-top: 40px;
}

#website-article h1 {
    font-family: Times New Roman;
    font-size: 7.2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.44px;
    text-align: center;
    color: #0e1649;
    margin-bottom: 40px;
}
.default-p {
    font-family: Arial;
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;
    color: #1c1c1c;
}
.image1 {
    margin: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}